<footer class="p-3 bg-dark">
  <ul
    class="m-0 p-0 text-center text-white d-flex justify-content-center flex-wrap"
  >
    <li class="me-2">
      <a href="">
        <i class="fa-brands px-2 fa-facebook"></i>
      </a>
    </li>

    <li class="me-2">
      <a href="">
        <i class="fa-brands px-2 fa-twitter"></i>
      </a>
    </li>

    <li class="me-2">
      <a href="">
        <i class="fa-brands px-2 fa-linkedin"></i>
      </a>
    </li>

    <li class="me-2">
      <a href="">
        <i class="fa-brands px-2 fa-youtube"></i>
      </a>
    </li>
  </ul>
</footer>
