<nav
  class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark"
  [class.py-4]="scroll"
>
  <div class="container-fluid">
    <a class="navbar-brand text-danger" routerLink="home">
      <img src="/img/TNOU1621.JPG" alt="logo image" class="rounded-pill" />
      MOVIES...
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item me-2">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="rounded-pill bg-white text-danger"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/gallery"
            routerLinkActive="rounded-pill bg-white text-danger"
            >Gallery</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
